.company-container {
  background-image: url("../../../public/images/BG.png");
  background-color: #160730;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 40px;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.3);
}
.company-container h4 {
  font-weight: 600;
  font-size: 40px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
}
.company-list {
  display: flex;
  align-items: center;
  gap: 65px;
}
.company-logo {
  width: 150px;
}
@media (min-width: 1200px) and (max-width: 1427px) {
  .company-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .company-container h4 {
    font-size: 35px;
  }
  .company-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .company-logo {
    width: 120px;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .company-list {
    flex-wrap: wrap;
  }
  .company-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .company-logo {
    width: 120px;
    max-width: 100%;
  }
}
