.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.contact-container-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  border: 1px solid #d9d7e257;
  border-radius: 10px;
  padding: 60px;
  background-color: #150531;
}
.contact-map-detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.map-wrapper {
  width: 100%;
  height: 100%;
}
.map-frame {
  width: 100%;
  border-radius: 10px;
}
.contact-container-detail h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.contact-container-detail span {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #b7b1be;
}
.contact-container-detail p {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ada7b799;
}
.contact-names {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.contact-name {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact-name label,
.contact-single label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #fff;
}

.contact-name input,
.contact-single input,
.contact-single textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
  width: 100%;
}
.contact-single textarea {
  width: 650px;
  height: 100px;
}
.contact-single {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-detail-input button {
  padding: 5px 50px;
  background-color: #110d57;
  color: #fff;
  text-align: center;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.follow-part {
  background-color: #150531;
  border: 1px solid #d9d7e257;
  border-radius: 10px;
  width: 400px;
  height: 180px;
  padding: 15px;
}
.follow-part h4 {
  color: #fcfbfab2;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}
.follow-part p {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #706681;
  margin-top: 20px;
}
.contact-social-network-tools {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  margin-top: 30px;
}

.contact-social-network-tool {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 40px;
  border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .contact-container{
    flex-wrap: wrap;
    gap: 40px;
  }
  .contact-container-detail {
    width: 100%;
    padding: 30px;
  }
  .contact-container-detail h2 {
    font-size: 20px;
  }
  .contact-container-detail span {
    font-size: 18px;
  }
  .contact-container-detail p {
    font-size: 14px;
  }
  .contact-single textarea {
    width: 100%;
    height: auto;
  }
  .contact-name input,
  .contact-single input,
  .contact-single textarea {
    font-size: 12px;
  }
  .contact-map-detail {
    width: 100%;
  }
  .follow-part {
    width: 100%;
  }
  .contact-detail-input button {
    padding: 5px 20px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 50px;
  }
  .contact-container-detail {
    width: 100%;
    padding: 30px;
  }
  .contact-container-detail h2 {
    font-size: 20px;
  }
  .contact-container-detail span {
    font-size: 18px;
  }
  .contact-container-detail p {
    font-size: 14px;
  }
  .contact-single textarea {
    width: 100%;
    height: auto;
  }
  .contact-name input,
  .contact-single input,
  .contact-single textarea {
    font-size: 10px;
  }
  .contact-map-detail {
    width: 100%;
  }
  .follow-part {
    width: 100%;
  }
  .contact-detail-input button {
    padding: 5px 20px;
    font-size: 15px;
  }
}
