.last-news-container-title {
  font-weight: 500;
  font-size: 32px;
  line-height: line height/40;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 30px;
}
.last-news-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.news-card {
  padding: 25px;
  width: 350px;
  height: 400px;
  border-radius: 30px;
}
.news-card-img-part {
  height: auto;
  object-fit: cover;
}
.news-card-img {
  width: 100%;
  border-radius: 5px;
}
.news-card-content {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  padding: 15px 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

.news-card-content h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.news-card-content P {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  line-height: 1.6;
  vertical-align: middle;
}
/* @media (min-width: 1200px) and (max-width: 1320px) {
    .last-news-cards {
        flex-wrap: wrap;
      }
  .news-card {
    width: 400px;
    font-size: 20px;
  }
} */
@media (min-width: 768px) and (max-width: 1200px) {
  .last-news-cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .last-news-cards {
    flex-wrap: wrap;
  }
}
