* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../src/assets/starBg.png");
  background-size: cover; /* şəkil ekranı tam örtür */
  background-repeat: no-repeat; /* şəkil təkrarlanmır */
  background-position: center; /* şəkil ortalanır */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
@media (max-width: 1245px) {
  .container {
    max-width: 1200px;
    padding: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 6px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 6px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 6px;
  }
}
