.intro-page-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url("../../../public//images/intro-page.jpg");
  background-size: cover;
  background-position: center;
}
.background-container {
  width: 650px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.background-detail {
  width: 100%;
  height: auto;
}
.intro-page-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 50px;
}
.intro-page-text h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.5px;
  vertical-align: middle;
}
.intro-page-text p {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0px;
  vertical-align: middle;
}
@media (min-width: 1200px) and (max-width: 1320px) {
  .intro-page-text h1 {
    font-size: 40px !important;
  }
  .intro-page-text p {
    font-size: 15px !important;
  }
  .background-container {
    width: 600px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .intro-page-text{
    gap: 20px;
    margin-left:3px !important;
  }
  .intro-page-text h1 {
    font-size: 25px !important;
  }
  .intro-page-text p {
    font-size: 13.5px !important;
    line-height: 30px;
    margin-left: 10px;
  }
  .background-container {
    width: 400px;
    right: -60px;
  }
}
@media (max-width: 768px) {
  .intro-page-container {
    flex-direction: column-reverse;
    height: auto;
  }
  .background-container {
    position: static;
    transform: none;
  }
  .intro-page-text {
    margin: 0px 10px;
    gap: 20px;
  }
  .intro-page-text h1 {
    font-size: 25px !important;
    line-height: 35px;
  }
  .intro-page-text p {
    font-size: 15px !important;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 20px;
  }
  .background-container {
    width: 350px;
  }
}
