.daily-news-container h2 {
  text-align: center;
}

.daily-news-general {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 20px;
}
.daily-news-intro {
  border: 1px solid #ffffff52;
  border-radius: 16px;
  background-color: #131315;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.novation-intro {
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}
.daily-news-intro p {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -2.1%;
  vertical-align: middle;
  color: #ffffff;
  padding-left: 10px;
}
.daily-news-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.daily-news {
  display: flex;
  border: 1px solid #ffffff52;
  border-radius: 16px;
  gap: 20px;
  padding: 5px;
  overflow: hidden;
}
.daily-news h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.daily-news p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.daily-news-image {
  width: 120px;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
}

.daily-news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}
.daily-news-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  gap: 5px;
}
/* @media (min-width: 1200px) and (max-width: 1320px) {
    .last-news-cards {
        flex-wrap: wrap;
      }
  .news-card {
    width: 400px;
    font-size: 20px;
  }
} */
@media (min-width: 768px) and (max-width: 1200px) {
  /* bura bax sorus */
  .novation-intro {
    max-height: 200px;
  }
  .daily-news-intro p {
    font-size: 20px;
  }
  .daily-news-image {
    max-width: 150px;
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
    flex: 1;
  }
  .daily-news-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .daily-news-description {
    flex: 2;
  }
  .daily-news-list {
    gap: 10px;
  }
  .daily-news h4 {
    font-size: 15px;
  }
  .daily-news p {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .daily-news-general {
    flex-direction: column;
  }
  .novation-intro {
    max-height: 200px;
  }
  .daily-news-intro p {
    font-size: 20px;
  }
  .daily-news {
    padding: 0px;
  }
  .daily-news-image {
    width: 100px;
    aspect-ratio: 4 / 3; /* 4:3 nisbəti, ya da ehtiyacına görə dəyiş */
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
    flex: 1;
  }
  .daily-news-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .daily-news-description {
    flex: 2;
  }
  .daily-news h4 {
    font-size: 15px;
  }
  .daily-news p {
    font-size: 10px;
  }
}
